html {
  font-size: 2vh;
}

.portfolioPicture{
  width: 100px;
  height: 100px;
}

header, .h1, .h2, .nameAndPic, nav, body, .aboutMeSection, .myWorkSection,  .mainProjectSection, .otherProjectsSection, footer {
  display: flex;
}

.h1 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 4rem;
}

.h2 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 3rem;
}

.h3 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 2rem;
  text-align: center;
  display: block;
}

header {
  border-bottom: 2px solid gray;
  justify-content:  space-between;
  padding: 0 10px 10px 10px;
}

.nameAndPic {
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  gap: 1rem;
}

nav {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.5rem;
  gap: 3rem;
  justify-content: space-around;
}

.anchor {
  text-decoration: none;
  color: black;
}

body {
  flex-direction: column;
  gap: 0.5rem;
}

.aboutMeSection {
  flex-direction: column;
  border-bottom: 2px solid gray;
  padding: 0 10px 10px 10px;
}

.myWorkSection {
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  border-bottom: 1px solid gray;
  padding: 0 10px 10px 10px;
}

.mainProjectImage {
  height: 400px;
  width: 400px;
}

.otherProjectImages {
  height: 250px;
  width: 250px;
}

.mainProjectSection {
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.otherProjectsSection {
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

footer {
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 768px) {

  header {
    flex-direction: column;
  }

  .aboutMeSection, .myWorkSection {
    align-items: center;
  }

}